@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: 'Fredoka Variable', sans-serif;
    --color-primary: #088be8;
}

.input-shadow {
    box-shadow: 0 1.5px 1.5px #00000017, 0 1px 3px #0000000a;
}

